replicaCount: 1

image:
  repository: 123456789012.dkr.ecr.us-west-2.amazonaws.com/my-static-site
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: my-static-site.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
