name: Readme Workflow
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  workflow_dispatch:
jobs:
  README:
    uses: arzian-cd/arzianghanchi/.github/workflows/readme.yml@master
    secrets:
      TOKEN : ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK_TERRAFORM: ${{ secrets.SLACK_WEBHOOK}}
