name: Readme Workflow
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  workflow_dispatch:
jobs:
  README:
    uses: clouddrove/github-shared-workflows/.github/workflows/readme.yml@mfix/readme-reusable-workflow-auth
    secrets:
      TOKEN : ${{ secrets.GITHUB_TOKEN }}
      SLACK_WEBHOOK_TERRAFORM: ${{ secrets.SLACK_WEBHOOK}}
