name: Readme Workflow

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  workflow_dispatch: # This allows you to click a button to test it instantly

jobs:
  README:
    # Calling the reusable workflow from clouddrove
    uses: clouddrove/github-shared-workflows/.github/workflows/readme.yml@master
    secrets:
      TOKEN: ${{ secrets.GITHUB }}
