name: smurf Helm Deployment
permissions:
  id-token: write
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      aws-region: us-west-2
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up smurf
        uses: clouddrove/smurf@master
        with:
          version: latest

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_REGION: us-west-2
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}


      - name: Build Docker Image and push AWS ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: clouddrove-eks-arzian-1-backend-test-environment-name
          IMAGE_TAG: ${{ github.run_id }}
        run: |
          IMAGE="$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
          smurf sdkr build $IMAGE --file DockerFile .
          smurf sdkr scan "$IMAGE"
          smurf sdkr push "aws $IMAGE"
          

      - name: Deploy backend Helm chart to AWS EKS
        id: deploy-to-eks
        env:
          IMAGE_TAG: ${{ github.sha }}
          AWS_REGION: us-west-2
        run: |
          export KUBECONFIG=~/.kube/config
          aws eks update-kubeconfig --name clouddrove-eks-arzian-1-test-cluster --region $AWS_REGION
          helm upgrade --install my-static-site ./my-static-site-chart -n dev --create-namespace \
            --atomic --wait --history-max 6 --timeout 4m --debug \
            --set image.tag=$IMAGE_TAG
